<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Home</title>
    <link rel="stylesheet" href="{% static 'staff/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBn+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<nav>
        <ul>
            <li><a href="{% url 'staff_home' %}">Home</a></li>
            <li><a href="{% url 'appointment_update' %}">Appointment Update</a></li>
<!--            <li><a href="{% url 'admin_department' %}">Doctors and Departments</a></li>-->
            <li><a href="{% url 'to_bill' %}">Billing</a></li>
        </ul>
    </nav>
    <div style="padding: 20px;">

    </div>
<div class="bg-container">
  <div class="main-card-container d-flex flex-row justify-content-start;">
      <div class="main-card">
        Total<br>Appointment
          <p class="main-card-value">{{total}}</p>
      </div>
      <div class="main-card" style="background-color:#F0843F; ">
        Pending<br>Appointment
          <p class="main-card-value">{{pending}}</p>
      </div>
      <div class="main-card" style="background-color:#AAE35C; ">
        Completed<br>Appointment
          <p class="main-card-value">{{completed}}</p>
      </div>
      <div class="main-card" style="background-color:#AAE35C; ">
        Billed<br>Appointment
          <p class="main-card-value">{{billed}}</p>
      </div>
  </div>
</div>
<div class="table-container">
    <h2>Appointments</h2>
    <p class="text-muted">{% now "jS F Y" %}</p>
    <br>
    {% for i in appointment %}
<div class="card m-1">
    <div class="card-body" style="background-color:#CBDFE3">
        <h6>{{i.id }} - {{i.first_name }} {{i.last_name}} - {{i.date}}</h6>
    </div>
</div>
    {% endfor %}
</div>
</body>
</html>
