<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form>
        <input type="text" name="" placeholder="Doctor Name">
        <input type="text" name="Department" placeholder="Department">
        <input type="text" name="" placeholder="Doctor Name">
        <input type="text" name="" placeholder="Doctor Name">
        <input type="text" name="" placeholder="Doctor Name">
        <input type="text" name="" placeholder="Doctor Name">
    </form>
</div>

</body>
</html>
