<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital Management</title>
<style>
body{
margin:0px;
padding:0px;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}
.admin{
margin-top:5%;
width:30%;
height:20vh;
background-color:#ffa026;
border-radius:10px;
       }
.staff{
margin-top:5%;
width:30%;
height:20vh;
background-color:#73a5a2;
border-radius:10px;
       }
.doctor{
margin-top:5%;
width:30%;
height:20vh;
background-color:#719ad2;
border-radius:10px;
       }
h2{
color:white;
line-height:20vh;
}
a{
text-decoration: none;
}
</style>
</head>
<body>
<center>
<div class="admin">
    <div class="card">
        <a href="{% url 'staff_login' %}">
    <h2>ADMIN</h2>
        </a>
    </div>
</div>

<div class="staff">
    <div class="card">
        <a href="{% url 'staff_login' %}">
    <h2>STAFF</h2>
        </a>
    </div>
</div>
 <div class="doctor">
    <div class="card">
        <a href="{% url 'staff_login' %}">
    <h2>DOCTOR</h2>
        </a>
    </div>
</div>
</center>
</body>
</html>
