{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1, p {
            margin: 0;
        }
        .product-image {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .product-info {
            border-top: 1px solid #ccc;
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="{{product.image.url}}" alt="Product Image" class="product-image">
        <div class="product-info">
            <h1>{{product.name}}</h1>
            <p>{{product.description}}</p>
            <p>${{product.price}}</p>
            <p>{{product.stock}}</p>
        </div>
    </div>
{% endblock content %}
