{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body{
    background-color:#e4e4e4;
    }
    .menu{
    margin-left:15%;
    padding-left:10%;
    margin-right:15%;
    margin-top:5%;
    padding-top:6%;
    padding-bottom:8%;
    background-color:white;
    border-radius:3%;
    z-index: -1;
    }
    label{
    margin-right:20px;
    }
    #images{
    position: relative;
    width:40%;
    left:50%;
    margin-top:-40%;

    }
    input{
    margin-top:3%;
    }
    #email{
    margin-left:4%;
    }
    #password1{
    margin-left:0.6%;
    }
        #password2{
    margin-left:1.9%;
    }
    #but{
    border-radius:5px;
    background-color:#e4e4e4;

    }
    #a{
    position:absolute;
    padding-left:12%;
    margin-top:2%;
    width:25%;
    }
</style>
<div class="menu">
<form action="/signup/" method="post">
    {% csrf_token %}
    <h1>SIGN UP</h1>
    <label for=""> Username : </label>
    <input type="text" id="username"  name="username" placeholder="Enter your Username" Required><br>
    <label for=""> First Name : </label>
    <input type="text" id="fname"  name="fname" placeholder="Enter your First Name" Required><br>
        <label for=""> Last Name : </label>
    <input type="text" id="lname"  name="lname" placeholder="Enter your Last name" Required><br>
        <label for=""> Email : </label>
    <input type="text" id="email"  name="email" placeholder="Enter your email id" Required><br>
        <label for=""> Password : </label>
    <input type="password" id="password1"  name="password1" placeholder="Enter a Password" Required><br>
        <label for=""> Confirm : </label>
    <input type="password" id="password2"  name="password2" placeholder="Confirm your Password" Required><br>
    <img src="{% static 'images/IMG_9870.JPG' %}" id="images"></img>
    <a id="a" href="{% url 'signin' %}">Already have an account</a>
    <br>
    <button type="submit" id="but">Sign up</button>
</form>
</div>
{% endblock content %}
